<html lang="en">
    <head>
        
    </head>
    <body>
        <form action="/user" method="post">
            <input type="text" name="email" placeholder="email or mobile no">
            <input type="password" name="pass">
            <input type="submit" value="Sign in">
        </form>
    </body>
</html>
