<%- include('./partials/header.ejs') %>
<style>
.div1122 {
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  border: 2px solid black;
  border-radius: 10px;
  width:60vw;
  padding: 50px 50px;
  line-height: 1.6;
  margin: 4vh 0 2vh 10vW;
  font-size: 1.2em;
}
.div1122 h2{
  font-family: Arial, Helvetica, sans-serif;
  
}
body {
  background-image: url(bac.jpg);
}

</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user">Sign In Page</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/more">Know More About Web Scrapping</a></li>
              <li><a class="dropdown-item active" href="/feed">Give us your Feedback</a></li>
              <li><hr class="dropdown-divider"></li>
          
            </ul>
          </li>
          
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
<div  class="div1122">
<h2>What is web scraping</h2>
<p>Web scraping is the process of collecting structured web data in an automated fashion. Its also called 
  web data extraction. Web pages are built using text-based mark-up languages (HTML and XHTML), and frequently contain a wealth of useful but unstructured data in text form.As a result, specialized tools and software have been developed to facilitate the scraping of web pages.A web scraping tool parses, searches, reformats thi data and stores it in a database to convert it into structured data.</p>
<p>Newer forms of web scraping involve monitoring data feeds from web servers. For example, JSON is commonly used as a transport storage mechanism between the client and the web server. </p>
<p>Web scraping requires two parts: the crawler and scrapper. Crawler is an algorithm which browses the web to 
  search for particular data required by following links across the internet. Scrapper is a 
  specific tool created to extract data from the website. </p> 
</div>
<div  class="div1122">
<h2> History of Web Scraping</h2>
The history of the web scraping dates back nearly to the time when the World Wide Web was born.
<ul>
  <li>June 1993 - First web robot, World Wide Web Wanderer, created to measure size of web. </li>
  <li>December 1993 - First crawler-based web search engine, JumpStation, launched.</li>
  <li>2000 - API and API crawler released.</li>
</ul>
</div>
<div  class="div1122">
<h2>Applications of Web Scraping</h2>
<b>Social media sentiment analysis</b>
The shelf life of social media posts is very little, however, when looked at collectively they show valuable trends. While most social media platforms have APIs that let 3rd party tools access their data, this may not always be sufficient. In such cases scraping these websites gives access to real-time information such as trending sentiments, phrases, topics, etc. 
<br/><br/>
<b>eCommerce pricing</b>
Many eCommerce sellers often have their products listed on multiple marketplaces. With scraping, they can monitor the pricing on multiple platforms and make a sale on the marketplace where the profit is higher. 
<br/><br/>
<b>Investment opportunities</b>
Real estate investors often want to know about promising neighborhoods they can invest in. While there are multiple ways to get this data, web scraping travel marketplaces and hospitality brokerage websites offer valuable information. This includes information such as the highest-rated areas, amenities that typical buyers look for, locations that may be upcoming as attractive renting options, etc.  
<br/><br/>
<b>Machine learning</b>
Machine learning models need raw data to evolve and improve. Web scraping tools can scrape a large number of data points, text and images in a relatively short time. Machine learning is fueling today’s technological marvels such as driverless cars, space flight, image and speech recognition. However, these models need data to improve their accuracy and reliability. 
A good web scraping project follows these practices. These ensure that you get the data you are looking for while being non-disruptive to the data sources. 
<br/><br/>
<b>Identify the goal</b>
Any web scraping project begins with a need. A goal detailing the expected outcomes is necessary and is the most basic need for a scraping task. The following set of questions need to be asked while identifying the need for a web scraping project:

What kind of information do we expect to seek?
What will be the outcome of this scraping activity?
Where is this information typically published?
Who are the end-users who will consume this data?
Where will the extracted data be stored? For e.g. on Cloud or on-premise storage, on an external database, etc.
How should this data be presented to its end-users? For e.g. as a CSV/Excel/JSON file or as an SQL database, etc.
How often are the source websites refreshed with new data? In other words, what is the typical shelf-life of the data that is being collected and how often does it have to be refreshed?
Post the scraping activity, what are the types of reports you would want to generate?
</body>
</html>